@import "./../variables";

.menu-link {
  & > * {
    font-weight: bold;
    color: $black;
    text-decoration: none;
  }
  
  &--text-end {
    text-align: end;
  }

  &--text-start {
    text-align: start;
  }

  &--text-sm {
    font-size: $sm;
  }

  &--text-md {
    font-size: $md;
  }

  &--text-lg {
    font-size: $lg;
  }
}