@import "./../variables";

.button {
  background-color: $text-input-field;
  border-radius: 8px;
  border: none;
  color: $black;
  width: 100%;
  cursor: pointer;
  font-size: $md;
  font-weight: bold;
  height: 50px;
  
  &--primary {
    background-color: $hospital-green;
    color: $white;
  }

  &--primary-outlined {
    background-color: transparent;
    color: $hospital-green;
    border: 1px solid currentColor;
  }
  
  &--link {
    font-family: $font-family;
    background-color: transparent;
    color: $hospital-green;
    font-size: $sm;
    font-weight: 400;
    height: auto;
    padding: 6px 8px;
    width: auto;
  }
}