@import "./../variables";

.button {
  background-color: $text-input-field;
  border-radius: 8px;
  border: none;
  color: $black;
  width: 100%;
  cursor: pointer;
  font-size: $md;
  font-weight: bold;
  height: 50px;

  &--primary {
    background-color: $hospital-green;
    color: $white;
  }
}